.mobnav ul li{
 list-style: none;
}

mobnav.mobile-nav {
  position: fixed;
  top: 20;
  height: 100%;
  width: 85%;
  background:whitesmoke;
  color:grey ;
  padding: 30px;
  transform: translateX(-100%);
  transition: all 300ms;
}

mobnav.mobile-nav img{
  transform: translateX(-100%);
  transition: all 300ms;
  height: 20px;
  width: 20px;
  position: relative;
  left: 270px;
  top: -55px;
}

.mobile-show {
  transform: translateX(0) !important;
}