
/*Nav bar styling*/



nav ul {
  padding: 10px;
  
}

nav ul li {
  list-style: none;
  display: flex;
  float: right;
  font-family: 'Lekton', sans-serif;
  font-size: 24px;
  padding: 10px;
  margin: 5px;

  }

  /* set the "stage" for animation */
  .stage{
    display: flex;
    justify-content: flex-end;
    padding-right: 22px;
    height: 77px;
    width: 100%;
    
  }
  .topnav{
    display: flex;
    padding-left:20px;
    height: 77px;
    width: 100%;
    border-bottom: dotted 1px grey;
    
    
  }

  .hamburger {
    display: none;
  }
    /* control how many/how smooth animations move {nav link}*/
  .social-link{
    border: 1px solid black;
    border-radius: 30px;
    animation-duration: 3s;
    animation-iteration-count: 1;
    transform-origin: bottom;
  }
  
  .social-link:hover {
    color: grey;
    border-color: grey;
  }

  #link-1 {
    animation-name: social-link;
    animation-timing-function: linear;
    animation-delay: .5s;

}
#link-2 {
  animation-name: social-link;
  animation-timing-function: linear;
  animation-delay: 1s;

}
#link-3 {
  animation-name: social-link;
  animation-timing-function: linear;
  animation-delay: 1.5s;

}

@keyframes social-link {
    50%  { transform: translateY(-010px); }

}

/* svg icon movement */

.topnav img {
    animation-duration: .5s;
    animation-iteration-count: 1;

}

#icon-svg {
  animation-name: svg-icon;
  animation-delay: .02s;

}

@keyframes svg-icon {
  30%  { transform: translateX(-012px); }
}

/* media query iPhone x */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) {
      #link-1, #link-2, #link-3{
        display: none;
      }
  }